@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

body{
    font-family: 'Lato', sans-serif;
}


body { 
    font-size: 100%; 
    line-height:1.125em; /* 16×1.125=18 */
}

.code-out {
    font-size: 1.1rem;
}

p {
    font-size: 1.25em;
}

.marginnote {
    font-size: 1.1rem;
}

.sidenote {
    padding-bottom: 1em;
    padding-top: 1em;
}

li {
    font-size: 0.875em;
    line-height: 1em;
}

p .shownote {
    font-size: 1.1rem;
}

h1 {
font-size: 2.5em; /* 3 times the body text */
}

h2 {
font-size: 2em; /* 2 times the body text */
}

h3 {
font-size: 1.5em; /* 1 ½ times the body text */
}

.math {font-size: 0.875em;}

.csl-entry {
    padding-bottom: 1em;
}

pre code {
    white-space: pre-wrap;
    font-family: 'Fira Code', monospace;
    font-size: 1em;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 1em;
}

.info {
    padding: 15px;
    margin-bottom: 21px;
    border-left: 10px solid transparent;
    border-color: blue;
    background-color: #e7feff;
}

.warning {
    padding: 15px;
    margin-bottom: 21px;
    border-left: 10px solid transparent;
    border-color: red;
    background-color: #ffccbb;
}

.center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    vertical-align: middle;
}

.header-section-number {
    padding-right: .2em;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1.title {
    font-weight: 700;
}

.list-group-item {
    font-size: 1em;
}

.list-group-item.active {
    color: #2c3e50;
    border: none;
}

.eqn-mouseover {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              padding-right: 50%;
}

@media only screen and (min-width : 761px) {
              a.dropbtn {
                             display: none;
              }

              div.dropdown-content {
                             display: block;
                             position: fixed;
                             overflow-y:scroll;
                             top: 0px;
                             left: 0px;
                             height: 100%;
                             width: 20%;
                             float: left;
              }

              html {
                             padding-left: 10%
              }

              .margin-toggle{
                text-decoration: underline;
            }
            
}

.panel-active section {
		padding-top: 0;
}

ul.navbar {
		background-color: #4056a1;
}

#active-page {
		background-color: #c5cbe3;
		color: #4056A1;
}

li.toc {
		background-color: #fbeec1;
        line-height: 1.125em;
}

h1 {
	color: #f13c20;
	border-bottom-color: #f13c20;
}

h2 {
	color: #f13c20;
	border-bottom-color: #f13c20;
}

h3 {
	color: #f13c20;
	border-bottom-color: #f13c20;
}

#toc a {
    line-height: 1.125em;
}

.title {
	color: #efe2ba;
}

.author {
	color: #d79922;
}

li .dropbtn {
	color: #d79922;
}

input#search-box {
	margin-left:15px
}

a {
    color: #4056a1;
}