/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

$font-family-base: "IBM Plex Sans", sans-serif;
$font-family-monospace: "IBM Plex Mono", monospace;

/*-- scss:rules --*/

#title-block-header {
    margin-block-end: 0;
}

.quarto-title-banner {
    margin-bottom: 0;
}

.figure-caption {
    font-size: 0.9rem;
}